<!DOCTYPE html>
<html lang="en">
<body>

  <div class="container">
      <h2 id="home-main-title">Welcome to BiteProfile</h2> 
      <div>
        <h3 class="slogan">Find Products That <span>Match Your Bite!</span></h3>
        <div> <%= render :template => '/home/search_form' %> </div>
      </div>
    </div>
  
</body>
</html>