 <!--h1>BiteProfile</h1>
<p>Welcome to BiteProfile where you can find new products that matches your bite!</p>-->

<!DOCTYPE html>
<html lang="en">
<body>

  <div class="container">
      <h2>Welcome to BiteProfile where you can find new products that match your bite!</h2>
    </div>
  
  <%= render :template => '/home/search_form' %>
  
</body>
</html>