<div class="container-fluid" id="panel">
  <div class="tabs">
    <ul>
      <li id="tab-1" class="active"><a>Bite match</a></li>
      <li id="tab-2"><a>Added by you</a></li>
      <li id="tab-3"><a>Search</a></li>
    </ul>
  </div>
   
  <div class="row-fluid" id="panel-content"> 
    <div class="default tab">
      <%= render :template => '/home/bite_match' %>
    </div>
  </div>
    <footer>
      <p>&copy; BiteProfile 2012</p>
    </footer>
</div>